{% extends "base.html" %}

{% block content %}
<div>
| <a href="{{ url_for('logout') }}">Logout</a>
</div>
    <h1>Hi, {{ user.nickname }}!</h1>

<form class="col-lg-12" action="{{url_for('add_log')}}" method="POST">
    <div style="width:340px;text-align:left;margin:0 auto;">
        new log: <input placeholder="new log" type="text" name="name">
        <span><button type="submit">GO</button></span>
    </div>
</form>

<div>
    <form action="{{url_for('index')}}" method="POST">
        {% if not logs %}
            Looks like you haven't created any inventory logs yet
        {% else %}
        <select name="log_id">
        {% for log in logs %}
          <option value="{{ log.id }}">{{ log.name }}</option>
        {% endfor %}
          <input type="submit" value="go">
        {% endif %}
        </select>
    </form>
</div>
<h1>{{ current_log }}</h1>

<form  action="{{url_for('add_stone')}}" method="POST">
    <select name="shape">
        <option value="asscher">asscher</option>
        <option value="cushion">cushion</option>
        <option value="emerald">emerald</option>
        <option value="heart">heart</option>
        <option value="marquise">marquise</option>
        <option value="pear">pear</option>
        <option value="princess">princess</option>
        <option value="radiant">radiant</option>
    </select>
    <select name="color">
        <option value="D">D</option>
        <option value="E">E</option>
        <option value="F">F</option>
        <option value="G">G</option>
        <option value="H">H</option>
        <option value="I">I</option>
        <option value="J">J</option>
        <option value="K">K</option>
        <option value="L">L</option>
        <option value="M">M</option>
        <option value="N">N</option>
    </select>
    <select name="clarity">
        <option value="IF">IF</option>
        <option value="VVS1">VVS1</option>
        <option value="VVS2">VVS2</option>
        <option value="VS1">VS1</option>
        <option value="VS2">VS2</option>
        <option value="SI1">SI1</option>
        <option value="SI2">SI2</option>
        <option value="SI3">SI3</option>
        <option value="I1">I1</option>
        <option value="I2">I2</option>
        <option value="I3">I3</option>
    </select>
    Weight: <input type="float" name="size"> Ct.
    <span><button type="submit">add stone</button></span>
</form>
</div>
</form>

<ul id="stones"></ul>
{% if current_log %}
    {% if stones %}
        {% for stone in stones %}
            <li>{{ stone }}</li>
        {% endfor %}
    {% else %}
        <li>Looks like you haven't added any stones to this inventory</li>
    {% endif %}
{% else %}
<li>Looks like you haven't selected an inventory.</li>
{% endif %}
</ul>

{% endblock %}




