{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1>Inventory Tracker</h1>
        <form action="{{url_for('create_user')}}" method="POST">
            <div style="width:340px;text-align:center;margin:0 auto;">
                Register: <input placeholder="Enter your email address" type="email" name="email" style="color:#000000">
                <span><button type="submit" style= "background: #666666;">GO</button></span>
            </div>
        </form>
        <br>

        <form action="{{url_for('validate_login')}}" method="POST">
            <div style="width:340px;text-align:center;margin:0 auto;">
                Log-in: <input placeholder="Enter your email address" type="email" name="email" style="color:#000000">
                <span><button type="submit" style= "background: #666666;">GO</button></span>
            </div>
        </form>

        <br>
        {% if error %}
            <span style="color: red; text-align:center"> [{{ error }}]</span>
        {% endif %}
        <br>

        <a href="#about" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down animated"></i>
        </a>
    </div>
</div>

{% endblock %}

